<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%- locals.title2 %></title> <!-- this is alsso now a temp where we can pass any info -->
    <meta name="description" content="<%- locals.description%>" > <!-- this is alsso now a temp where we can pass any info -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous"><!-- this is bootstrap for responsiveness  -->

    <link rel="stylesheet" href="/css/main.css"> <!-- this is the css file where we will style UI -->

    <!-- fonts from google -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap" rel="stylesheet">
    


    <!-- Include A-Frame from a CDN -->
    <script src="https://aframe.io/releases/1.2.0/aframe.min.js"></script>
    <!-- Include A-Frame AR.js from a CDN (if needed) -->
    <script src="https://unpkg.com/aframe-extras@6.0.0/dist/aframe-extras.min.js"></script>


    <!-- Three.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r128/three.min.js"></script>
    


</head>
<body>

   <%- body %>  <!-- this makes a reusable template and all the pages will be reinserted here -->

  
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js" integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N" crossorigin="anonymous"></script><!-- this is bootstrap for responsiveness  -->
   <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
   <script>
    MathJax = {
        tex: {
            inlineMath: [['$', '$'], 
                        ['\\(', '\\)']]
        },
        svg: {
            fontCache: 'global'
        }
    };
    </script> <!--   Configuring the MathJax   -->

</body>
</html>

<!--  -->