
<div class="container-fluid-in container-fluid-custom py-md-5 mb-5">
    <main>
        <div class="row py-md-5 text-center justify-content-center">

            <div class="col-md-12 col-lg-6 mb-6 mb-md-0">

                <form className="mainbox"></div>

                    <h1 class="Heading display-2 fw-bold mb-2 position-relative"> NUKE </h1>
                    <p class="subhead fs-5 mb-4">Build somthing incredible</p>

                    <a href="/auth/google" class="btn btn-primary btn-lg">Try Nuke, Its FREE!</a>

                </form>

            </div>

        </div>
    </main>
</div>

