<!-- controler dashcontroler renders the pages and will use this along with the layout/dash.ejs -->


<!-- SIDEBAR -->
<div class="sidebar d-flex sticky-top flex-column flex-shrink-0 p-3 text-bg-dark" style="position: fixed; width: 190px;height: 640px;margin-top: 56px;">
    <a href="/" class="dashbobo d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">

        <a
            style="text-decoration: none; color: rgb(255, 255, 255); text-align: center; font-size: medium; padding-top: 15px; padding-bottom: 10px;">Dashboard</a>
    </a>

    <hr>

    <ul class="nav nav-pills flex-column mb-auto">
        <li style="margin-bottom: 5px;">
            <a style="padding-top: 0px;" href="/dash" class="nav-link text-white">
                <svg style="margin-left: -17px;" class="homeic bi pe-none me-6" width="16" height="16">
                </svg>
                Recent
            </a>
        </li>
        <li style="margin-bottom: 5px;">
            <a style="padding-top: 0px;" href="/dash_newproject" class=" nav-link text-white">
                <svg style="margin-left: -17px;" class="homeic2 bi pe-none me-6" width="16" height="16"></svg>
                New Project
            </a>
        </li>
        <li style="margin-bottom: 5px;">
            <a style="padding-top: 0px;" href="/dash_market" class=" nav-link text-white">
                <svg style="margin-left: -17px;" class="homeic3 bi pe-none me-6" width="16" height="16"></svg>
                Marketplace
            </a>
        </li>
        <li style="margin-bottom: 5px;">
            <a style="padding-top: 0px;" href="#" class="active nav-link text-white">
                <svg style="margin-left: -17px;" class="homeic4 bi pe-none me-6" width="16" height="16"></svg>
                Manufacturing
            </a>
        </li>
    </ul>

    <hr>

    <div class="dropdown">
        <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle"
            data-bs-toggle="dropdown" aria-expanded="false">
            <strong>Settings</strong>
        </a>
        <ul class="dropdown-menu dropdown-menu-dark dropdown-menu-end text-small shadow">
            <li><a class="dropdown-item" href="#">Plans</a></li>
            <li><a class="dropdown-item" href="#">Settings</a></li>
            <li><a class="dropdown-item" href="#">Preferences</a></li>
        </ul>
    </div>
</div>
<!-- SIDEBAR -->


